# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# lpy temp file
*.lpy~

# notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

